/*! some generic rules first
Please, use SlashStarExlamationSign </*!> to preserve comments while formatting by CSS Compressor */
*{margin:0;padding:0;box-sizing:border-box;font-family:Consolas,Roboto,monospace}
*:focus{border:none; outline:none}
*::selection{background-color: lightcoral;}

/*::-webkit-scrollbar{width: 50px; background-color: crimson;} /*! Mozilla betrayed me )))) */
ul{list-style:none}
a{display: inline-block;text-decoration:none;padding:calc(.4vw + 4px) calc(.5vw + 10px);margin-bottom: 10px; border-radius:2px;background-color:#000;color:#ff0}
/* a{color:black; background: rgb(116, 202, 202);} */
html{font-size:20px;line-height:1.2}
body{overflow:hidden;
    /*! leave this commented as a fallback in case? IDK */
    height:100vh; 
    /* background: url(https://source.unsplash.com/Hyu76loQLdk/1600x900); */
    /* background: url(https://source.unsplash.com/qjnAnF0jIGk/1600x900); */
    /* background: url(https://source.unsplash.com/fIq0tET6llw/1600x900); */
    /* color: yellow; */
    
    /* background: url(./img/CV_Vadym_Sanzhara.jpg); */
    /* background-size: 100vh; */
    /* background-repeat: no-repeat; */
    /* background-position: -20% 10%; */
    /* background: -moz-linear-gradient(white, yellow); */
    /*background: url(https://source.unsplash.com/GGybzke97mw/4256x2832);    
    background-size: contain;
    background-blend-mode: soft-light;
    background-color: rgb(250, 248, 248);*/

}
h3{margin:30px;text-align:center;font-size:calc(.5vw + 22px);/*! fallback for a <clamp> function */font-size:clamp(1rem,calc(.5vw + 22px),2rem)}
/*! .section__p, /* Do you like BEM convention? */
section p{margin:10px 0;text-align:center;font-size:calc(.5vw + 14px);/*! fallback for a <clamp> function */font-size:clamp(.8rem,calc(.5vw + 14px),1.4rem)}
.top-navbar{position:fixed;z-index:1;top:0;width:100%;
    background-color:rgb(253, 255, 159, 0.3);
    /* background-color: rgb(116, 202, 202);    */
}
nav ul{padding:9px;display:flex;justify-content:space-around}
a:focus,a:hover{transform:scale(1.25);transition:.3s ease;
    /*! overflow:hidden */
}
/* nav li:hover{transform:scale(1.5);transition:.3s ease;} */
nav li a{
    /* padding:10px 30px; */
    padding-top:clamp(0.2rem,calc(.4vw + 4px),2rem);
    padding-bottom:clamp(0.2rem,calc(.4vw + 4px),2rem);
    background-color:#000;color:#ff0;clip-path:polygon(20% 0,100% 0,80% 100%,0 100%)}
section{
    /*! background: url(https://source.unsplash.com/GGybzke97mw/4256x2832);    
    background-size: 100vw;
    background-blend-mode: overlay;
    background-color: rgb(250, 248, 248); */
    /* color: green; */
    display:flex;
    flex-direction:column;
     align-items: center;  justify-content:space-evenly; text-align: center; 
     width:100%;height:100%;
     scroll-snap-align:center;/*! tells where to stop after scrolling*/}
.scroll-container{
    width:100%;height:100%;
    overflow-y:scroll;scroll-snap-type:y mandatory;/*! forces to jump at the position after scrolling */scroll-behavior:smooth/*! yaaaah, man :) */}
.example-container{

    display: grid; grid-template-columns: repeat(3, 1fr);}
.example{
    display: grid; 
    grid-template-rows: 30vh 1fr auto;
     justify-items: center; align-items: center; 
    }
.example-container img{width:100%;height:100%;object-fit:contain/*! background-color:tomato */}
.example-1 a{clip-path:polygon(0 0,90% 0,100% 100%,10% 100%)}
.example-2 a{clip-path:polygon(10% 0,90% 0,100% 100%,0 100%)}
.example-3 a{clip-path:polygon(10% 0,100% 0,90% 100%,0 100%)}
.example-3 img{padding:40px}
.example-container img:hover{position:relative;right:0;animation:bounce .4s ease}
@keyframes bounce{
50%{transform:translateY(-2%)}
}

@media only screen and (max-width: 500px){
.example{scroll-snap-align:start}
.example-container{display:grid; grid-template-columns:repeat(3,100vw);width:100%;overflow-x:scroll;scroll-snap-type:x mandatory;}
}
.copyright {
    text-align: center; color: green;
}
/*
:root {  cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
:root::before{
    /*!background: url(https://source.unsplash.com/GGybzke97mw/4256x2832);    
    background-size: 100vw;
    background-blend-mode: overlay;
    background-color: rgb(250, 248, 248); 
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
    circle 80vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  )
}*/

body{
    background-color: white;
    /* animation: example linear 5s infinite; */
    background: linear-gradient(-45deg, #ffc5b3, #fdc3da, #b0eaff, #befded);
      background-size: 300% 300%;
      animation: example 12s ease-in-out infinite;  }
@keyframes example {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }}